[Desktop Entry]
Type=Application
Name=Warpinator
Comment=Transfer files from one computer to another on the local network
Icon=warpinator
Exec=warpinator
AutostartCondition=GSettings org.x.warpinator.preferences autostart
Categories=GNOME;GTK;Utility;